# Byte-compiled / optimized / DLL files
__pycache__/
notebooks/__pycache__/
/src/__pycache__/
/src/diffpes/__pycache__/
/src/diffpes/inout/__pycache__/
/src/diffpes/maths/__pycache__/
/src/diffpes/radial/__pycache__/
/src/diffpes/simul/__pycache__/
/src/diffpes/tightb/__pycache__/
/src/diffpes/types/__pycache__/
/src/diffpes/utils/__pycache__/
/data/__pycache__/
/tests/__pycache__/
/tests/test_diffpes/__pycache__/
/tests/test_diffpes/test_inout/__pycache__/
/tests/test_diffpes/test_maths/__pycache__/
/tests/test_diffpes/test_radial/__pycache__/
/tests/test_diffpes/test_simul/__pycache__/
/tests/test_diffpes/test_tightb/__pycache__/
/tests/test_diffpes/test_types/__pycache__/
/tests/test_diffpes/test_utils/__pycache__/
/envs/__pycache__/
/data/
/.agents/
/.agents/*.md
${SCIPION_HOME}

*.py[cod]
/openspec/
/openspec/*
/openspec/.ipynb_checkpoints/
/openspec/spec/*
/openspec/changes/*

# VS Code settings
/.vscode
/src/.vscode
/src/diffpes/.vscode
/notebooks/.vscode
/tests/.vscode
/data/.vscode
/data/*/.vscode
/envs/.vscode
/.venv
/.ruff_cache
/.coverage

.pyre_configuration
/src/.pyre_configuration
/src/diffpes/.pyre_configuration
/notebooks/.pyre_configuration
/tests/.pyre_configuration
/tests/test_electrons/.pyre_configuration
/data/.pyre_configuration

# C extensions
*.so
*.pyc

# Distribution / packaging
.Python
.tox/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
/src/diffpes.egg-info
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
*.swp


# Installer logs
pip-log.txt
pip-delete-this-directory.txt
cufile.log
tests/cufile.log
src/cufile.log
src/diffpes/cufile.log
notebooks/cufile.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Emacs
.#*

# Notebook Checkpoints
/.ipynb_checkpoints/
/.ipynb_checkpoints
/src/.ipynb_checkpoints/
/tutorials/.ipynb_checkpoints/
/src/diffpes/.ipynb_checkpoints/
/tests/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/data/*/.ipynb_checkpoints/
/ens/.ipynb_checkpoints/
/.mypy_cache/
/.pytest_cache
.qodo

# Symlink to the private planning repo (not part of this package)
/diffpes-plans

# Chinook from https://github.com/qmlab-ubc-ca/chinook (untracked)
/chinook

# dynamics-w90 code from https://github.com/michaelschueler/dynamics-w90 (untracked)
/dynamics-w90

# aurelia code from https://github.com/qmlab-ubc-ca/aurelia (untracked)
/aurelia